Repository gHashTag/bible_vibecoder: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

fix(docker): ensure build runs before starting container
  Dockerfile
Due: none

fix(deps): correct package.json
  package.json
  scripts/pre-commit-check.sh
  src/commands/vibecoding-commands.ts
  src/inngest/functions/index.ts
  src/inngest/functions/vibecoding-broadcast.ts
  src/services/instagram-canvas.service.ts
  src/services/vibecoding-content.service.ts
  src/services/vibecoding-vector.service.ts
  src/types.ts
  src/types/index.ts
  src/utils/logger.ts
  tsconfig.build.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

refactor(handlers): unify button-handler implementation
  src/utils/button-handler.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

refactor(tsconfig): exclude scripts from compilation
  tsconfig.json
Due: pnpm exec prettier --write

chore: remove dead code and unused scripts
  bun.lock
  src/inngest/functions/index.ts
  src/inngest/functions/vibecoding-broadcast.ts
  src/services/instagram-canvas.service.ts
  src/services/vibecoding-content.service.ts
  src/services/vibecoding-vector.service.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

feat(build): massive refactoring and fixing of build errors
  bun.lock
  package.json
  src/agents/vibecoding-research-agent.ts
  src/inngest/functions/index.ts
  src/server.ts
  src/services/instagram-canvas.service.ts
  src/services/tts/openai-tts.service.ts
  src/services/vibecoding-content.service.ts
  src/utils/button-handler.ts
  src/utils/di-container.ts
  tools/config/vitest.config.ts
  tsconfig.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

refactor(system): Fix multiple critical build errors
  src/agents/vibecoding-research-agent.ts
  src/commands/vibecoding-commands.ts
  src/inngest/functions/generate-carousel.ts
  src/inngest/functions/index.ts
  src/inngest/functions/vibecoding-research.ts
  src/inngest/index.ts
  src/services/tts/openai-tts.service.ts
  src/services/vibecoding-content.service.ts
  src/utils/button-handler.ts
  tsconfig.build.json
  tsconfig.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix(build): Resolve logger privacy and tsconfig build issues
  src/utils/logger.ts
  tsconfig.build.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

feat(system): Add dependencies and fix multiple type errors
  bun.lock
  package.json
  src/commands/vibecoding-commands.ts
  src/graphql/client.ts
  src/inngest/functions/generate-carousel.ts
  src/services/vibecoding-content.service.ts
  src/utils/button-handler.ts
  src/utils/di-container.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

fix(build): Correct apollo imports and context types
  src/commands/vibecoding-commands.ts
  src/graphql/client.ts
  src/types/index.ts
  src/utils/di-container.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

feat(bot): Integrate new functional and vibe coding commands
  src/bot.ts
  src/commands/functional-commands.ts
  src/commands/vibecoding-commands.ts
  src/inngest/functions/generate-carousel.ts.bak
  src/inngest/functions/index.ts
  src/services/carousel-generator.service.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

feat(deps): Update dependencies and clean up unused code
  bun.lock
  package.json
  src/agents/vibecoding-research-agent.ts
  src/bot.ts
  src/commands/vibecoding-commands.ts
  src/inngest/functions/generate-carousel.ts
  src/inngest/functions/vibecoding-broadcast.ts
  src/inngest/index.ts
  src/inngest/server.ts
  src/server.ts
  src/services/carousel-generator.service.ts
  src/services/tts/openai-tts.service.ts
  src/services/vibecoding-content.service.ts
  src/utils/button-handler.ts
  src/utils/di-container.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

🚂 Railway deployment ready: Dockerized + CommonJS build
  .cursor/rules/current_task.mdc
  Dockerfile
  RAILWAY_DEPLOY_INSTRUCTIONS.md
  bun.lock
  package-lock.json
  package.json
  railway.toml
  src/adapters/memory-adapter.ts
  src/adapters/storage-adapter.ts
  src/agents/vibecoding-research-agent.ts
  src/bot.ts
  src/commands.ts
  src/commands/functional-commands.ts
  src/commands/vibecoding-commands.ts
  src/inngest/functions/generate-carousel.ts
  src/inngest/functions/hourly-carousel-cron.ts
  src/inngest/functions/index.ts
  src/inngest/functions/vibecoding-broadcast.ts
  src/inngest/functions/vibecoding-broadcast.ts.bak
  src/inngest/server.ts
  src/middlewares/error-handler.ts
  src/server.ts
  src/services/carousel-generator.service.ts
  src/services/instagram-canvas.service.ts
  src/services/tts/elevenlabs-tts.service.ts
  src/services/tts/index.ts
  src/types/index.ts
  start.js
  tsconfig.build.json
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck', pnpm sort-package-json

🔧 Fix Railway deployment: Switch to Nixpacks + optimized build
  .dockerignore
  Dockerfile
  RAILWAY_DEPLOY_INSTRUCTIONS.md
  package.json
  railway.toml
Due: pnpm exec prettier --write, pnpm sort-package-json

🚀 Final Railway deployment fix: Nixpacks + full build pipeline
  .dockerignore
  Dockerfile
  Dockerfile.backup
  RAILWAY_DEPLOY_INSTRUCTIONS.md
  nixpacks.toml
  package-lock.json
  package.json
Due: pnpm exec prettier --write, pnpm sort-package-json

⚡ Radical optimization for Railway build speed
  .npmrc
  Dockerfile.bun
  Dockerfile.optimized
  nixpacks.toml
  package-lock.json
  package.json
  railway.toml
Due: pnpm exec prettier --write, pnpm sort-package-json

🔄 Revert to Nixpacks for stable build
  Dockerfile.bun.bak
  Dockerfile.optimized.bak
  Dockerfile.simple
  railway.toml
Due: none

🔧 Fix package-lock.json sync and restore optimized Dockerfile
  Dockerfile
  railway.toml
Due: none

🔧 Fix missing dependencies for Apollo Client
  package-lock.json
  package.json
Due: pnpm exec prettier --write, pnpm sort-package-json

feat: автоматическая настройка webhook для Railway
  .env.example
  docs/RAILWAY_DEPLOYMENT.md
  src/server.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix: исправление Docker сборки для Railway
  .dockerignore
  Dockerfile
  docs/RAILWAY_DEPLOYMENT.md
  railway.toml
  src/server.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix: исправление lockfile и Docker конфигурации
  .gitignore
  Dockerfile
  bun.lock
Due: none

Проверь сейчас, восстановился доступ?
  Dockerfile
  Dockerfile.multistage
  Dockerfile.simple
  src/config.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix: использование BOT_WEBHOOK_DOMAIN и упрощение Dockerfile
  src/server.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix: финальная оптимизация Dockerfile для Railway
  Dockerfile
  Dockerfile.test
Due: none

hi
  docs/DEPLOYMENT_CHECK.md
Due: pnpm exec prettier --write

fix: временное решение для Railway - использование polling режима
  .cursor/rules/current_task.mdc
  Dockerfile
  RAILWAY_ENV_SETUP.md
  RAILWAY_QUICK_FIX.md
  src/server.ts
  test-bot-local.sh
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

fix: исправление Dockerfile и настройка вебхука
  Dockerfile
  src/server.ts
Due: pnpm exec prettier --write, pnpm exec eslint --fix, bash -c 'bun run typecheck'

feat: добавлены альтернативные конфигурации и инструкции
  Dockerfile.node
  RAILWAY_CORRECT_ENV.md
  railway.toml.node
Due: pnpm exec prettier --write

feat: добавлены скрипты тестирования и финальная документация (без секретов)
  .cursor/rules/current_task.mdc
  RAILWAY_FINAL_SETUP.md
  check-bot-status.sh
  test-production.sh
Due: pnpm exec prettier --write

fix: добавлен альтернативный Dockerfile для Railway с Node.js образом
  Dockerfile.railway
  railway.json
Due: pnpm exec prettier --write

fix: переход на Nixpacks для Railway деплоя
  Dockerfile.old
  nixpacks.toml
  railway.json
Due: pnpm exec prettier --write

refactor: оптимизация деплоя для Railway
  Dockerfile
  railway.toml
  railway.toml.node
Due: none

fix: удален railway.json для автоопределения Railway
  railway.json
Due: pnpm exec prettier --write

Path conditions:
  pnpm exec prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  pnpm exec eslint --fix: any of: *.{ts,tsx,js,jsx}
  bash -c 'bun run typecheck': any of: src/**/*.ts
  pnpm sort-package-json: any of: package.json
